* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Caskaydia Cove Nerd Font";
    border: none;
    min-height: 0;
    margin: 1px 1px;
}

#waybar {
    background-color: rgba(10, 10, 10, 0.6);
    color: #FFFFFF;
    /*border: 0.3px solid #008080;*/
    transition-property: background-color;
    transition-duration: .5s;
    font-size: 15px;
    font-weight: normal;
}

/* Module */
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd,
#disk,
#battery,
#backlight {
    padding-left: 0.7em;
    padding-right: 0.7em;
    color: #D8DEE9;
    margin: 1px 1px;
    background: #000000;
	border-radius: 5px;
	border: 0.7px solid #FFFFFF;
}

#idle_inhibitor {
    padding-left: 0.6em;
    padding-right: 0.9em;
    color: #D8DEE9;
    margin: 1px 1px;
    background: #000000;
	border-radius: 5px;
	border: 0.7px solid #FFFFFF;
}

#workspaces {
    padding-left: 0.6em;
    padding-right: 0.7em;
    color: #FF0000;
    margin: 1px 1px;
    background: #000000;
	border-radius: 5px;
	border: 0.7px solid #FFFFFF;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 1px 2px;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 2px 2px;
}
#workspaces button.active {
    border-radius: 5px;
    color: #FF0000;
    margin: 2px 2px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-menu {
	padding-left: 0.1em;
    padding-right: 0.3em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}

#custom-power {
	padding-left: 0.1em;
    padding-right: 0.3em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}

#custom-filemanager {
	padding-left: 0.1em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
#custom-browser {
	padding-left: 0.1em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
#custom-libre {
	background-color: #000000;
	padding-left: 0.1em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
#custom-scratchpad_indicator {
	padding-left: 0.1em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
#custom-cycle_wall {
	padding-left: 0.4em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
#custom-updates {
	padding-left: 0.2em;
	padding-right: 0.2em;
	background: #000000;
	border-radius: 5px;
	border: 0.5px solid #FFFFFF;
}
/*#taskbar {
	padding-left: 0.2em;
	padding-right: 0.2em;
	background: #FFFFFF;
	border-radius: 5px;
	border: 0.5px solid #000000;
}*/
#battery.critical:not(.charging) {
    color: #d91111;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
